#jinja2: lstrip_blocks: "True"
{% set go = namespace(found=false) %}
{% for mh_id, mh_spec in mh_access.items() %}
    {% if inventory_hostname in mh_spec.interface_list %}
        {% set go.found = true %}
    {% endif %}
{% endfor %}
{% if go.found %} 
interfaces: 
{% for mh_id, mh_spec in mh_access.items() %}
    {% if inventory_hostname in mh_spec.interface_list %}
    {{ mh_spec.lag_id }}:
        _state: {{ mh_spec._state|default('present') }}
        vlan_tagging: {{ mh_spec.vlan_tagging | default('false') }}
        min_links: {{ mh_spec.min_links | default(1) }}
        admin_state: enable
        description: {{ mh_spec.description | default('') }}
        lacp:
            mode: active
            system_priority: {{ mh_spec.system_priority | default(32768) }}
            {% set def_sysid = "00:1a:60:00:00:%02d" | format(mh_spec.lag_id.split('lag')[1] | int ) %}
            system_id: {{ mh_spec.system_id | default(def_sysid) }}
        {% if mh_spec.mh_mode | default('all-active') == 'single-active'%}
        stby_signaling: {{ mh_spec.stby_signaling | default('lacp') }}
        {% endif %}
        {% for itf in mh_spec.interface_list[inventory_hostname] %}
    {{ itf}}:
        _state: {{ mh_spec._state|default('present') }}
        admin_state: enable
        description: {{ mh_spec.description | default('') }}
        lag_id: {{ mh_spec.lag_id }}
        {% endfor %}
    {% endif %}
{% endfor %}
system:
    ethernet_segments:
{% for mh_id, mh_spec in mh_access.items() %}
    {% if inventory_hostname in mh_spec.interface_list %}
        {% set sfx_1 = "%02d" | format(mh_spec.lag_id.split('lag')[1]|int )%}
        {% set sfx_2 = "%02d" | format(mh_id.split('-')[1]|int )%}
        ES-{{ sfx_2 }}:
            admin_state: enable
            esi: {{ "00:" + sfx_1 + ":" + sfx_2 + ":00:00:00:66:00:" + sfx_1 + ":" + sfx_2 }}
            interface: {{ mh_spec.lag_id }}
            _state: {{ mh_spec._state|default('present') }}
            mh_mode: {{mh_spec.mh_mode | default('all-active') }}
    {% endif %}
{% endfor %}
{% endif %}