- name: "Load fabric intent for ENV:{{ env }}"
  vars:
    look_in: "{{ intent_dir }}"
    files_matching: fabric
    varname: fabric_intent
  ansible.builtin.include_role:
    name: utils_load_intent

- name: Process fabric
  when: fabric_intent is defined and fabric_intent is not none and (fabric_intent | length > 0)
  block:

  - name: Validate fabric intent
    ansible.utils.validate:
      data: "{{ fabric_intent }}"
      criteria:
        - "{{ lookup('file', 'criteria/fabric_intent.json') | from_json }}"
      engine: ansible.utils.jsonschema
    delegate_to: localhost
    run_once: true

  - name: Reset var 'my_intent'
    ansible.builtin.set_fact:
      my_intent: {}

  - name: Fabric pre-processing
    process_fabric:
      fabric_intent: "{{ fabric_intent }}"
    register: preprocessed_fabric
    delegate_to: localhost
    run_once: true

  #- name: DEBUG fabric pre-processing
  #  ansible.builtin.copy:
  #    content: "{{ preprocessed_fabric | to_yaml }}"
  #    dest: /tmp/preprocessed_fabric.yml
  #  delegate_to: localhost
  #  run_once: true

  #- name: DEBUG fabric pre-processing
  #  ansible.builtin.debug:
  #    var: preprocessed_fabric

  - name: Generate low-level intent for FABRIC
    ansible.builtin.set_fact:
      my_intent: "{{ lookup('template', 'transform_fabric_intent.j2') | from_yaml }}"

  #- name: DEBUG fabric pre-processing
  #  ansible.builtin.copy:
  #    content: "{{ my_intent | to_yaml  }}"
  #    dest: "/tmp/{{ inventory_hostname }}.yml"
  #  delegate_to: localhost

  #- name: DEBUG fabric pre-processing
  #  ansible.builtin.debug:
  #    var: my_intent

  - name: Load fabric intent
    ansible.builtin.set_fact:
      intent: "{{ intent | default({}) | combine(my_intent, recursive=True) }}"
    when: my_intent is defined
