#jinja2: lstrip_blocks: "True"
{% for itf, itf_spec in bfd.interfaces.items() %}
- path: /bfd/subinterface[id={{ itf }}]
  value:
    admin-state: {{ itf_spec.admin_state | default('disable') }}
  {% if itf_spec.desired_min_tx_interval is defined %}
    desired-minimum-transmit-interval: {{ itf_spec.desired_min_tx_interval }}
  {% endif %}
  {% if itf_spec.required_min_rx_interval is defined %}
    required-minimum-receive: {{ itf_spec.required_min_rx_interval }}
  {% endif %}
  {% if itf_spec.detection_multiplier is defined %}
    detection-multiplier: {{ itf_spec.detection_multiplier }}
  {% endif %}
  {% if itf_spec.max_hop_count is defined %}
    max-hop-count: {{ itf_spec.max_hop_count }}
  {% endif %}
{% endfor %}