#jinja2: lstrip_blocks: "True"
{%- for itf, prop in interfaces.items() %}
  {% if prop._state | default('present') == 'present' %}
- path: /interface[name={{ itf }}]
  value:
    admin-state: {{ prop.admin_state | default('enable') }}
    description: {{ prop.description|default('no description')}}
    {% if prop.vlan_tagging is defined %}
    vlan-tagging: true
    {% endif %}
    {% if prop.lag_id is defined or prop.stby_signaling is defined %}
    ethernet:
      {% if prop.lag_id is defined %}
      aggregate-id: {{ prop.lag_id }}
      {% endif %}
      {% if prop.stby_signaling is defined %}
      standby-signaling: {{ prop.stby_signaling }}
      {% endif %}
    {% endif %}
    {% if itf.startswith("lag") %}
    lag:
      lag-type: {{ prop.lag_type | default('lacp') }}
      min-links: {{ prop.min_links | default(1) }}
      lacp:
        {% set lagid = itf.split('lag')[1] | int %}
        admin-key: {{ lag_spec.admin_key | default(lagid) }}
        {% set sfx = "%02d" | format(lagid) %}
        system-id-mac: {{ lag_spec.system_id | default('00:ba:db:ee:f0:' + sfx) }}
        system-priority: {{ lag_spec.system_priority | default(1) }}
    {% endif %}
  {% endif %}
{% endfor %}