#jinja2: lstrip_blocks: "True"
{% set go = namespace(found=false) %}
{% for svc, svc_spec in l3vpn.items() %}
{% if inventory_hostname in svc_spec.snet_list %}
{% set go.found = true %}
{% endif %}
{% endfor %}
{% if go.found %} 
network_instance: 
{% for svc, svc_spec in l3vpn.items() %}
    {% if inventory_hostname in svc_spec.snet_list %}
    {{ svc }}:
        interfaces:
        {% for snet in svc_spec.snet_list[inventory_hostname] %}
        {% set id = snet.macvrf.split('-')[1] %}
           - irb1.{{id}}
        {% endfor %}
        description: {{ svc_spec.description | default("no description") }}
        type: {{ svc_spec.type }}
        vxlan_interface:
            - vxlan1.{{svc_spec.id}}
        protocols:
            bgp_evpn:
                vxlan_interface: vxlan1.{{ svc_spec.id }}
                evi: {{ svc_spec.id }}
            bgp_vpn:
                export_rt: {{svc_spec.export_rt}}
                import_rt: {{svc_spec.import_rt}}
    {% for snet in svc_spec.snet_list[inventory_hostname] %}
    {{ snet.macvrf}}:
        interfaces:
        {% set id = snet.macvrf.split('-')[1] %}
           - irb1.{{id}}
    {% endfor %}   
    {% endif %}
{% endfor %}
subinterface:
{% for svc, svc_spec in l3vpn.items() %}
    {% if inventory_hostname in svc_spec.snet_list %}
    {% for snet in svc_spec.snet_list[inventory_hostname] %}
    {% set id = snet.macvrf.split('-')[1] %}
    irb1.{{ id }}:
        ipv4_address: {{ snet.gw }}
        arp: true
    {% endfor %}
    {% endif %}
{% endfor %}
tunnel_interface:
    vxlan1:
{% for svc, svc_spec in l3vpn.items() %}
    {% if inventory_hostname in svc_spec.snet_list %}
        {{svc_spec.id}}:
            type: routed
            ingress_vni: {{ svc_spec.id }}
    {% endif %}
{% endfor %}
{%endif %}