#jinja2: lstrip_blocks: "True"
{% if network_instance is defined %}
{% for ni in running_config['srl_nokia-network-instance:network-instance'] %}
{% if ni.name in network_instance and network_instance[ni.name]._state | default("present") == "deleted" %}
- path: /network-instance[name={{ ni.name }}]
{% endif %}
{% endfor %}
{% endif %}

