#jinja2: lstrip_blocks: "True"
{% for itf in ansible_net_config['interface'] %}
{% if itf.subinterface is defined %}
{% for subitf in itf.subinterface %}
{% set subif_name = itf.name + '.' + subitf.index|string %} 
{% if subif_name not in subinterface.keys() %}
- /interface[name={{ itf.name }}]/subinterface[index={{ subitf.index }}]
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

