#jinja2: lstrip_blocks: "True"
{% for itf in running_config['srl_nokia-interfaces:interface'] %}
{% if itf.subinterface is defined %}
{% for subitf in itf.subinterface %}
{% set subif_name = itf.name + '.' + subitf.index|string %} 
{% if subif_name not in subinterface.keys() %}
- action: delete
  path: /interface[name={{ itf.name }}]/subinterface[index={{ subitf.index }}]
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

