#jinja2: lstrip_blocks: "True"
{% for pfx_set, pfx_spec in (routing_policy.prefix_set | default({})).items() %}
- path: /routing-policy/prefix-set[name={{pfx_set}}]
  operation: replace
  value:
    {% for k, v in pfx_spec.items() %}
    {{k}}: {{v}}
    {% endfor %}
{% endfor %}
{% for r_pol, pol_spec in (routing_policy.policy | default({})).items() %}
- path: /routing-policy/policy[name={{r_pol}}]
  operation: replace
  value:
    {% if pol_spec["default-action"] is defined %}
    default-action: {{ pol_spec["default-action"] }}
    {% endif %}
    {% if pol_spec["statement"] is defined %}
    statement:
      {% for stmt in pol_spec.statement %}
      - name: {{ stmt.name }}
        {% if stmt.action is defined %}
        action: {{ stmt.action }}
        {% endif %}
        {% if stmt.match is defined %}
        match:
          {% for k, v in stmt.match.items() %}
            {% if k == "prefix-set" %}
          prefix:
            prefix-set: {{v}}
            {% else %}
          {{k}}: {{v}}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endfor %}
{% for comm_set, comm_set_spec in (routing_policy.community_set | default({})).items() %}
- path: /routing-policy/community-set[name={{comm_set}}]
  operation: replace
  value:
    {% for k, v in comm_set_spec.items() %}
    {{k}}: {{v}}
    {% endfor %}
{% endfor %}
