#jinja2: lstrip_blocks: "True"
{% for pfx_set, pfx_spec in routing_policy.prefix_set.items() %}
- path: /routing-policy/prefix-set[name={{pfx_set}}]
  operation: replace
  value:
    {% for k, v in pfx_spec.items() %}
    {{k}}: {{v}}
    {% endfor %}
{% endfor %}
{% for r_pol, pol_spec in routing_policy.policy.items() %}
- path: /routing-policy/policy[name={{r_pol}}]
  operation: replace
  value:
    {% for k, v in pol_spec.items() %}
    {{k}}: {{v}}
    {% endfor %}
{% endfor %}
