- name: Generate service intents
  gather_facts: false
  hosts:
    - localhost
  tasks:

  - name: Check if 'ENV' environment var is set
    delegate_to: localhost
    ansible.builtin.set_fact:
      env: "{{ lookup('env', 'ENV') | default('') }}"
    when: intent_dir | default('') == ''   # 'env' can be set from the command line with '-e ENV=lab'
    failed_when: env == ''
    tags: [always]

  - name: Set intent dir
    delegate_to: localhost
    ansible.builtin.set_fact:
      intent_dir: "{{ playbook_dir }}/intent/{{ env }}" # default location for intent files
    when: intent_dir | default('') == ''
    tags: [always]

  - name: Derive env from provided intent_dir
    delegate_to: localhost
    ansible.builtin.set_fact:
      env: "{{ intent_dir | basename }}"
    when: env | default('') == '' and intent_dir | default('') != ''
    tags: [always]

  - name: Discover NetBox
    discover_netbox:
    tags: [always]

  - when: netbox_discovered
    block:
    - name: Validate Netbox data
      validate_netbox_data: {}
      tags: [always]

    - name: "Generate underlay intent for ENV:{{ env }} from Netbox"
      vars:
        look_in: "{{ intent_dir }}"
      ansible.builtin.include_role:
        name: generate_netbox_underlay_intent
        apply:
          tags: [infra]
      tags: [infra]

    - name: "Generate mh_access intents for ENV:{{ env }} from Netbox"
      vars:
        look_in: "{{ intent_dir }}"
      ansible.builtin.include_role:
        name: generate_netbox_mh_access_intents
        apply:
          tags: [services, mh_access]
      tags: [services, mh_access]


    - name: "Generate l2vpn intents for ENV:{{ env }} from Netbox"
      vars:
        look_in: "{{ intent_dir }}"
      ansible.builtin.include_role:
        name: generate_netbox_l2vpn_intents
        apply:
          tags: [services, l2vpn]
      tags: [services, l2vpn]

    - name: "Generate l3vpn intents for ENV:{{ env }} from Netbox"
      vars:
        look_in: "{{ intent_dir }}"
      ansible.builtin.include_role:
        name: generate_netbox_l3vpn_intents
        apply:
          tags: [services, l3vpn]
      tags: [services, l3vpn]
